.chartjs-wrapper {
   border: 1px solid #e5e5e5;
   padding: 20px;
   margin-bottom: 80px;
   width: 100%;
}

.chartjs-wrapper .chartjs {
   min-height: 200px;
}

.customLegend li {
   display: inline-block;
   margin-right: 25px;
   margin-top: 15px;
}

.customLegend li span {
   display: inline-block;
   width: 12px;
   height: 12px;
   margin-right: 5px;
   border-radius: 25px;
}